{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro review(fieldName) %}
  {%if reviewMode %}
  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Request amendments on {{fieldName}}
    </span>
  </summary>
  <div class="govuk-details__text">
    {{ govukTextarea({
      id: [fieldName, "Amend"] | join,
      name: [fieldName, "Amend"] | join
    }) }}
  </div>
  </details>
  {% endif %}
{% endmacro %}

<form method="POST">

  {{ govukInput({
    label: {
      text: "Project name"
    },
    id: "title",
    name: "title",
    value: application.title,
    disabled: formDisabled,
    errorMessage: {
      text: amendment.title.comment
    } if not reviewMode and amendment.title.comment
  }) }}
  {{ review("title") }}

  {{ govukTextarea({
    name: "background",
    id: "background",
    label: {
      text: "Describe the project"
    },
    hint: {
      text: "Include details of what the project will involve and what it aims to achieve"
    },
    value: application.background,
    disabled: formDisabled,
    errorMessage: {
      text: amendment.background.comment
    } if not reviewMode and amendment.background.comment
  }) }}
  {{ review("background") }}

  {{ govukTextarea({
    name: "site",
    id: "site",
    label: {
      text: "Where will the project take place?"
    },
    hint: {
      text: "Provide the coordinates that define the boundaries of your project"
    },
    value: application.site.coordinates,
    disabled: formDisabled,
    errorMessage: {
      text: amendment.site.coordinates.comment
    } if not reviewMode and amendment.site.coordinates.comment
  }) }}
  {{ review("site") }}

  {% call govukFieldset({
    legend: {
      text: "Applicant details",
      classes: "govuk-fieldset__legend--m"
    }
  }) %}

    {{ govukInput({
      label: {
        text: "First Name"
      },
      id: "firstName",
      name: "firstName",
      autocomplete: "given-name",
      value: application.applicant.firstName,
      disabled: formDisabled,
      errorMessage: {
        text: amendment.applicant.firstName.comment
      } if not reviewMode and amendment.applicant.firstName.comment
    }) }}
    {{ review("firstName")}}

    {{ govukInput({
      label: {
        text: "Last Name"
      },
      id: "lastName",
      name: "lastName",
      autocomplete: "family-name",
      value: application.applicant.lastName,
      disabled: formDisabled,
      errorMessage: {
        text: amendment.applicant.lastName.comment
      } if not reviewMode and amendment.applicant.lastName.comment
    }) }}
    {{ review("lastName")}}

    {{ govukInput({
      label: {
        text: "Address"
      },
      id: "address",
      name: "address",
      autocomplete: "address",
      value: application.applicant.address,
      disabled: formDisabled,
      errorMessage: {
        text: amendment.applicant.address.comment
      } if not reviewMode and amendment.applicant.address.comment
    }) }}
    {{ review("address")}}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "Email address"
      },
      hint: {
        text: "This email address will be used for correspondence during the process"
      },
      id: "email",
      name: "email",
      type: "email",
      autocomplete: "email",
      spellcheck: false,
      value: application.applicant.email,
      disabled: formDisabled,
      errorMessage: {
        text: amendment.applicant.email.comment
      } if not reviewMode and amendment.applicant.email.comment
    }) }}
    {{ review("email")}}
  {% endcall %}

  {%if not formDisabled %}
    {{ govukButton({
      text: "Submit application"
    }) }}
  {% endif %}

  {%if reviewMode %}
    {{ govukButton({
        text: "Request update",
        classes: "govuk-button--warning"
      })
    }}
  {% endif %}
</form>
