{% extends 'layouts/page.njk' %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Marine Licensing Alpha"
  }) }}

  {% call appPageBody() %}
    <p class="govuk-body-l">This application is in the <strong>
    {{application.applicationStatus}} </strong> status.
    </p>

    {% include 'partials/application.njk' %}
  {% endcall %}
{% endblock %}
