
{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Marine Licensing Alpha"
  }) }}

  {% call appPageBody() %}
      <p class="govuk-body">Successfully dropped databases.</p>
      {{ govukButton({
        text: "Close",
        href: continueUrl
      }) }}
  {% endcall %}

{% endblock %}
