{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Marine Licensing Alpha"
  }) }}

  {% call appPageBody() %}

    <form method="POST" case>


      {{ govukInput({
        label: {
          text: "Project name"
        },
        id: "title",
        name: "title"
      }) }}

      {{ govukTextarea({
        name: "background",
        id: "background",
        label: {
          text: "Describe your project"
        }
      }) }}

      {{ govukTextarea({
        name: "site",
        id: "site",
        label: {
          text: "Where will the project take place?"
        },
        hint: {
          text: "Provide the coordinates that define the bondaries of your project"
        }
      }) }}

      {% call govukFieldset({
        legend: {
          text: "What are your personal details?",
          classes: "govuk-fieldset__legend--m"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "First Name"
          },
          id: "forename",
          name: "forename",
          autocomplete: "given-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Last Name"
          },
          id: "surname",
          name: "surname",
          autocomplete: "family-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Address"
          },
          id: "address",
          name: "address",
          autocomplete: "address"
        }) }}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We'll use this to identify you during the application process"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
      {% endcall %}


      {{ govukButton({
        text: "Submit application"
      }) }}
    </form>
  {% endcall %}

{% endblock %}
