{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Marine Licensing Alpha"
  }) }}

  {% call appPageBody() %}
    {% include 'partials/application.njk' %}
  {% endcall %}

{% endblock %}
