{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Marine Licensing Alpha"
  }) }}

  {% call appPageBody() %}


      {{ govukPanel({
        titleText: "Application submitted",
        html: ["Your reference number<br><strong>", applicationId, "</strong>"] | join
      }) }}

      {{ govukButton({
        text: "View Application",
        href: applicationDetailsUrl
        })
      }}
      {{ govukButton({
        text: "Close",
        href: backUrl,
        classes: "govuk-button--secondary"
      }) }}
  {% endcall %}

{% endblock %}
